* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p, input, span {
  margin: 0;
  padding: 0;
}

input, select {
  outline: none;
}

button {
  border: none;
  outline: none;
}

h3, h1, h2 {
  margin: 0;
  padding: 0;
}

.strikethrough {
  text-decoration: line-through;
}

.mainwrapper .nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0.9375rem;
  gap: 0.4375rem;
}
@media (min-width: 850px) {
  .mainwrapper .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}
.mainwrapper .nav__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.4375rem;
}
@media (min-width: 850px) {
  .mainwrapper .nav__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.875rem;
  }
}
.mainwrapper .nav__left--1 {
  color: rgb(194, 194, 194);
}
.mainwrapper .nav__left--1 .arrow {
  transform: rotate(30deg);
}
.mainwrapper .nav__left--1 .arrow i {
  color: #aaa;
}
.mainwrapper .nav__left--2 {
  text-decoration: underline;
  color: #aaa;
}
.mainwrapper .nav__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: #aaa;
  text-decoration: underline;
  padding-right: 1.875rem;
  font-size: 0.9375rem;
}
.mainwrapper .intro {
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3.75rem;
}
@media (min-width: 900px) {
  .mainwrapper .intro {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 70%;
  }
}
.mainwrapper .intro__part1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3.75rem;
  font-size: 1.25rem;
}
.mainwrapper .intro__part1 .projectDate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.3125rem;
  color: #adadad;
}
.mainwrapper .intro__part1 .projectDate .date {
  text-align: right;
}
.mainwrapper .intro__part1 .aiDate {
  color: #fff;
}
.mainwrapper .intro--heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: clamp(2rem, 14vw, 8rem);
  letter-spacing: 0.1875rem;
  color: #fff;
}
.mainwrapper .intro__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.1875rem;
}
@media (min-width: 850px) {
  .mainwrapper .intro__bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.875rem;
  }
}
.mainwrapper .intro__bottom .mission {
  margin-right: 0.625rem;
  font-size: 1.0625rem;
  margin-top: -2px;
  color: #adadad;
}
.mainwrapper .intro__bottom .defination1,
.mainwrapper .intro__bottom .defination2 {
  color: #575757;
}

.mainwrapper .loader__div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #131417;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainwrapper .loader__div--main {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #575757;
  animation: loaderAnimation 1.5s ease-in-out infinite;
}
@keyframes loaderAnimation {
  0%, 100% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
}

.mainwrapper .section1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  max-height: 664px;
  height: 620px;
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.mainwrapper .section1 > div {
  flex-shrink: 0;
  transition: width 0.3s ease, height 0.3s ease;
}
@media (min-width: 500px) {
  .mainwrapper .section1 {
    margin-top: 30vh;
  }
}
.mainwrapper .section1--image1 {
  width: 78.1px;
  height: 117.1px;
  border-radius: 6px;
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainwrapper .section1--image2 {
  width: 97.5706px;
  height: 146.356px;
  border-radius: 6px;
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainwrapper .section1--image3 {
  width: 195.1px;
  height: 292.7px;
  border-radius: 6px;
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainwrapper .section1--image4 {
  position: relative;
  transition: background-color 0.3s ease;
  width: 292.7px;
  height: 439px;
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/1.jpg);
  background-size: cover;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: brightness(1);
}
.mainwrapper .section1--image5 {
  width: 195.1px;
  height: 292.7px;
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/5.jpg);
  background-size: cover;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
}
.mainwrapper .section1--image6 {
  width: 97.5706px;
  height: 146.356px;
  border-radius: 6px;
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainwrapper .section1--image7 {
  width: 78.1px;
  height: 117.1px;
  border-radius: 6px;
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainwrapper .section1--details {
  color: #fff;
  position: absolute;
  width: 400px;
  font-size: 1.75rem;
  bottom: 15%;
  z-index: 100;
  left: 3%;
  transform: translateY(200px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
@media (min-width: 500px) {
  .mainwrapper .section1--details {
    width: 31.25rem;
  }
}

.mainwrapper .section10 {
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}
.mainwrapper .section10--image {
  background-image: url("https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/70.jpg");
  opacity: 1;
  transform: translate(0px, 0px) scale(0.9989, 0.9989);
  filter: brightness(1) hue-rotate(90deg);
  width: 400%;
  height: 400%;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 6px;
  position: relative;
}
.mainwrapper .section10--caption {
  font-size: clamp(2rem, 5vw, 3.5rem);
  position: absolute;
  bottom: 40%;
  font-weight: 500;
  color: #fff;
}

.mainwrapper .section3 {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 2.5vw;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  display: grid;
  place-items: center;
}
.mainwrapper .section3 .section3--image1 {
  transform: translate(-947.2px, -418.7px) scale(3.3333, 3.3328);
}
.mainwrapper .section3 .section3--image2 {
  transform: translate(-0.2px, -418.7px) scale(3.3333, 3.3328);
}
.mainwrapper .section3 .section3--image3 {
  transform: translate(946.8px, -418.7px) scale(3.3333, 3.3328);
}
.mainwrapper .section3 .section3--image4 {
  transform: translate(-947.2px, 0.3px) scale(3.3333, 3.3328);
}
.mainwrapper .section3 .section3--image5 {
  transform: translate(-0.2px, 0.3px) scale(3.3333, 3.3328);
}
.mainwrapper .section3 .section3--image6 {
  transform: translate(946.8px, 0.3px) scale(3.3333, 3.3328);
}
.mainwrapper .section3 .section3--image7 {
  transform: translate(-947.2px, 419.3px) scale(3.3333, 3.3328);
}
.mainwrapper .section3 .section3--image8 {
  transform: translate(-0.2px, 419.3px) scale(3.3333, 3.3328);
}
.mainwrapper .section3 .section3--image9 {
  transform: translate(946.8px, 419.3px) scale(3.3333, 3.3328);
}
.mainwrapper .section3--item {
  border-radius: 0.375rem;
  filter: brightness(0.65);
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 33vh;
  width: 33vw;
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}
.mainwrapper .section3--item .section3--image {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainwrapper .section3--item .section3--image1-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/8.jpg);
}
.mainwrapper .section3--item .section3--image2-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/7.jpg);
}
.mainwrapper .section3--item .section3--image3-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/15.jpg);
}
.mainwrapper .section3--item .section3--image4-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/9.jpg);
}
.mainwrapper .section3--item .section3--image5-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/12.jpg);
}
.mainwrapper .section3--item .section3--image6-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/14.jpg);
}
.mainwrapper .section3--item .section3--image7-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/10.jpg);
}
.mainwrapper .section3--item .section3--image8-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/13.jpg);
}
.mainwrapper .section3--item .section3--image9-img {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/11.jpg);
}
.mainwrapper .section3--details {
  color: #fff;
  position: absolute;
  width: 400px;
  font-size: 1.875rem;
  bottom: 5%;
  z-index: 100;
  left: 5%;
  transform: translateY(200px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
@media (min-width: 500px) {
  .mainwrapper .section3--details {
    width: 700px;
    left: 10%;
  }
}

.mainwrapper .section7 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 2rem;
  position: relative;
}
.mainwrapper .section7--images {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 1.5vw;
  width: 25vw;
  height: 35vw;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.17);
}
.mainwrapper .section7--image1 {
  opacity: 1 !important;
  filter: brightness(1);
  z-index: 6;
  transform: translate(0px, 0.4px);
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
}
.mainwrapper .section7--image2 {
  opacity: 1 !important;
  filter: brightness(0.8);
  z-index: 5;
  transform: translate(-338px, 0.4px);
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
}
.mainwrapper .section7--image3 {
  opacity: 1 !important;
  filter: brightness(0.7);
  z-index: 4;
  transform: translate(-676px, 0.4px);
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
}
.mainwrapper .section7--image4 {
  opacity: 1 !important;
  filter: brightness(0.6);
  z-index: 3;
  transform: translate(-1014px, 0.4px);
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
}
.mainwrapper .section7--image5 {
  opacity: 1 !important;
  filter: brightness(0.5);
  z-index: 2;
  transform: translate(-1352px, 0.4px);
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
}
.mainwrapper .section7--image6 {
  opacity: 1 !important;
  filter: brightness(0.4);
  z-index: 1;
  transform: translate(-1690px, 0.4px);
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
}
.mainwrapper .section7--image7 {
  height: auto;
  color: #575757;
  font-size: clamp(1rem, 4vw, 2.2rem);
  filter: none !important;
  transform: translate(-768px, -0.2px);
  position: absolute;
  bottom: 50%;
  width: 45vw;
  line-height: 1.1;
  max-width: 800px;
  left: 100vw;
}

.mainwrapper .section5 {
  height: 100vh;
  position: relative;
}
.mainwrapper .section5__image {
  opacity: 1;
  filter: brightness(1);
  max-width: 300px;
  max-height: 351.2px;
  min-width: 103.3px;
  min-height: 127.2px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 6px;
  top: 0px;
  left: 0px;
  padding: 0px;
}
.mainwrapper .section5__image--1 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/16.jpg);
  transform: translate(0px, 0px);
}
.mainwrapper .section5__image--2 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/17.jpg);
  transform: translate(219px, 0px);
}
.mainwrapper .section5__image--3 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/18.jpg);
  transform: translate(387px, 0px);
}
.mainwrapper .section5__image--4 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/19.jpg);
  transform: translate(516px, 0px);
}
.mainwrapper .section5__image--5 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/20.jpg);
  transform: translate(644px, 305px);
}
.mainwrapper .section5__image--6 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/21.jpg);
  transform: translate(773px, 0px);
}
.mainwrapper .section5__image--7 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/22.jpg);
  transform: translate(1031px, 0px);
}
.mainwrapper .section5__image--8 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/23.jpg);
  transform: translate(1160px, 305px);
}
.mainwrapper .section5__image--9 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/24.jpg);
  transform: translate(902px, 153px);
}
.mainwrapper .section5__image--10 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/25.jpg);
  transform: translate(1031px, 458px);
}
.mainwrapper .section5__image--11 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/26.jpg);
  transform: translate(902px, 305px);
}
.mainwrapper .section5__image--12 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/27.jpg);
  transform: translate(129px, 153px);
}
.mainwrapper .section5__image--13 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/28.jpg);
  transform: translate(0px, 305px);
}
.mainwrapper .section5__image--14 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/29.jpg);
  transform: translate(387px, 305px);
}
.mainwrapper .section5__image--15 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/30.jpg);
  transform: translate(258px, 458px);
}
.mainwrapper .section5__image--16 {
  background-image: url(https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/27.jpg);
  transform: translate(773px, 458px);
}
.mainwrapper .section5 .section5--caption {
  font-size: clamp(2rem, 8vw, 6rem);
  text-wrap: nowrap;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainwrapper .section2 {
  margin-top: 13.75rem;
  margin-bottom: 12.5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5.625rem;
  margin-left: 0.9375rem;
}
@media (min-width: 846px) {
  .mainwrapper .section2 {
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}
@media (min-width: 1000px) {
  .mainwrapper .section2 {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 9.375rem;
    width: 50%;
  }
}
.mainwrapper .section2--ethical {
  font-size: 1.25rem;
  color: #adadad;
  text-wrap: nowrap;
  font-weight: 400;
}
.mainwrapper .section2--details {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #575757;
}

.mainwrapper .section4 {
  margin-top: 13.75rem;
  margin-bottom: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.3125rem;
  margin-left: 0.9375rem;
  width: 95%;
}
@media (min-width: 850px) {
  .mainwrapper .section4 {
    gap: 5.625rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 27vw;
    width: 65%;
  }
}
@media (min-width: 1000px) {
  .mainwrapper .section4 {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 35vw;
    width: 55%;
  }
}
.mainwrapper .section4--Preserving {
  font-size: 1.25rem;
  color: #adadad;
  text-wrap: nowrap;
  font-weight: 400;
}
.mainwrapper .section4--details {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #575757;
}

.mainwrapper .section6 {
  margin-top: 13.75rem;
  margin-bottom: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.3125rem;
  margin-left: 15px;
  margin-right: 0px;
  width: 95%;
}
@media (min-width: 850px) {
  .mainwrapper .section6 {
    margin-left: auto;
    margin-right: auto;
    gap: 5.625rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 65%;
  }
}
@media (min-width: 1000px) {
  .mainwrapper .section6 {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 55%;
  }
}
.mainwrapper .section6--Preserving {
  font-size: 1.25rem;
  color: #adadad;
  text-wrap: nowrap;
  font-weight: 400;
}
.mainwrapper .section6--details {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #575757;
}

.mainwrapper .section8 {
  margin-top: 9.375rem;
  margin-bottom: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.3125rem;
  margin-left: 0.9375rem;
  width: 95%;
}
@media (min-width: 850px) {
  .mainwrapper .section8 {
    gap: 5.625rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 27vw;
    width: 65%;
  }
}
@media (min-width: 1000px) {
  .mainwrapper .section8 {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 30vw;
    width: 60%;
  }
}
.mainwrapper .section8--Preserving {
  font-size: 1.25rem;
  color: #adadad;
  text-wrap: nowrap;
  font-weight: 400;
}
.mainwrapper .section8--details {
  font-size: 1.1875rem;
  line-height: 1.3;
  color: #575757;
}

.mainwrapper .section11 {
  margin-top: 25rem;
}
@media (min-width: 500px) {
  .mainwrapper .section11 {
    margin-top: 0px;
  }
}
.mainwrapper .section11__parg {
  font-size: 1.25rem;
  max-width: 25rem;
  margin-top: 12.5rem;
  margin-bottom: 12.5rem;
  margin-left: 0.9375rem;
  width: -moz-fit-content;
  width: fit-content;
  color: #575757;
}
@media (min-width: 800px) {
  .mainwrapper .section11__parg {
    margin-left: 12.5rem;
  }
}
.mainwrapper .section11__parg--span {
  color: #aaa;
}

body {
  background-color: #131417;
  scroll-behavior: smooth;
}

.mainwrapper {
  overflow: hidden;
}

.preloader-display-none {
  opacity: 0;
  visibility: hidden;
}/*# sourceMappingURL=styles.css.map */