@import "scss-components/boilerplate";
@import "scss-components/colors";
@import "scss-components/function";
@import "scss-components/mixin";

@import "scss-components/navIntro";
@import "scss-components/preloader";

@import "scss-components/section1";
@import "scss-components/section10";
@import "scss-components/section3";
@import "scss-components/section7";
@import "scss-components/section5";
@import "scss-components/section2";
@import "scss-components/section4";
@import "scss-components/section6";
@import "scss-components/section8";
@import "scss-components/section11";




body {
  background-color: $color-bg;
  scroll-behavior: smooth;
}

.mainwrapper {
  overflow: hidden;

}

.preloader-display-none {
  opacity: 0;
  visibility: hidden;
}
