


.mainwrapper{
  .section7{
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    &--images{
      position: relative;
      background-position: 50% 50%;
      background-size: cover;
      border-radius: 1.5vw;
      width: 25vw;
      height: 35vw;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.17);
     
    }
    &--image1{
    
  opacity: 1 !important;
  filter: brightness(1);
  z-index: 6;
  transform: translate(0px, 0.4px);
  background-image: url(	https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
    }
    &--image2{

  opacity: 1 !important;
  filter: brightness(0.8);
  
  z-index: 5;
  transform: translate(-338px, 0.4px);
  background-image: url(	https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
  }
    
    &--image3{
  
  opacity: 1 !important;
  filter: brightness(0.7);
  z-index: 4;
  transform: translate(-676px, 0.4px);
  background-image: url(	https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
    }
    &--image4{
  
  opacity: 1 !important;
  filter: brightness(0.6);
  z-index: 3;
  transform: translate(-1014px, 0.4px);
  background-image: url(	https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
    }
    &--image5{
   
  opacity: 1 !important;
  filter: brightness(0.5);
  z-index: 2;
  transform: translate(-1352px, 0.4px);
  background-image: url(	https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
    }
    &--image6{
  
  opacity: 1 !important;
  filter:brightness(0.4);
  z-index: 1;
  transform: translate(-1690px, 0.4px);
  background-image: url(	https://tympanus.net/Development/ScrollBasedLayoutAnimations/img/33.jpg);
    }
    &--image7{
 
  
  height: auto;
     

      color: $color-text-alt;
      font-size: clamp(1rem, 4vw, 2.2rem);
      filter: none !important;
      transform: translate(-768px, -0.2px);
      position: absolute;
      bottom: 50%;
      width: 45vw;
      line-height: 1.1;
      max-width: 800px;
      left: 100vw;
    }
  }
}